[submodule "overlays/acu"]
	path = overlays/acu
	url = git@github.com:multun/acu-nix.git
[submodule "overlays/yumasi"]
	path = overlays/yumasi
	url = git@github.com:Yumasi/nix-overlay.git
[submodule "files/chemacs"]
	path = files/chemacs
	url = https://github.com/plexus/chemacs.git
